<section class="overallTable">
  <app-header  *ngIf="userDetailes$ | async as user" text="{{user.firstName}} {{ user.lastName}}"></app-header>

  <div
    *ngIf="userDetailes$ | async as user"
    class="w-full p-2 bg-gray-400 rounded-sm text-white"
  >

    <div class="w-full flex justify-between items-center p-2 rounded-sm ">
      <div>
        <div class="stat-title text-appGold">סה"כ רכישות</div>
        <div class="stat-value">{{ user.orders.length }}</div>
      </div>
      <div>
        <div class="stat-title text-appGold">יתרה</div>
        <div class="stat-value">{{ user.balance | currency : "ILS" }}</div>
      </div>
    </div>
  </div>
    <div class="overflow-x-auto">
      <table class="table table-xs bg-appBG">
        <!-- head -->
        <thead class="bg-appBlue text-appGold lg:text-xl font-extrabold">
          <tr>
            <th>{{ dateLabel }}</th>
            <th>{{ parahsa }}</th>
            <th>{{ amount }}</th>
            <th>{{ paid }}</th>
            <th>{{ left }}</th>
            <th>{{ desc }}</th>
            <th>{{ invoice }}</th>
            <th *ngIf="userHasAccess">{{ actions }}</th>
          </tr>
        </thead>
        <tbody class="text-appText">
          <tr
            *ngFor="let order of (userDetailes$ | async)?.orders"
            class="hover:bg-gray-300"
          >
            <td>{{ order.createdAt | date }}</td>
            <td>{{ order.parasha }}</td>
            <td>{{ order.price | currency : "ILS" }}</td>
            <td>{{ order.pricePaid | currency : "ILS" }}</td>
            <td>{{ order.price - order.pricePaid | currency : "ILS" }}</td>
            <td>{{ order.name || "N/A" }}</td>
            <td>{{ order.orderInvoice || "N/A" }}</td>
            <td *ngIf="userHasAccess" class="flex gap-2 w-fit">
              <button class="btn btn-outline btn-error  cursor-pointer "  (click)="onDelete(order._id)">
                <span class="material-symbols-outlined ">
                  delete
                  </span>
              </button>
              <button class="btn btn-outline  cursor-pointer " >
                <span class="material-symbols-outlined ">
                  edit
                  </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
