<section class="overallTable">
  <app-header [text]="header"></app-header>

  <div
    *ngIf="userDetailes$ | async as user"
    class="w-full p-2 bg-appBG rounded-sm"
  >
    <app-sub-header
      text="{{ user.firstName }} {{ user.lastName }}"
    ></app-sub-header>
    <div class="w-full flex justify-between items-center p-2">
      <div>
        <div class="stat-title text-appGold">סה"כ רכישות</div>
        <div class="stat-value">{{ user.orders.length }}</div>
      </div>
      <div>
        <div class="stat-title text-appGold">יתרה</div>
        <div class="stat-value">{{ user.balance | currency : "ILS" }}</div>
      </div>
    </div>
  </div>
    <div class="w-full">
      <table class="table bg-appBG">
        <!-- head -->
        <thead class="bg-appBlue text-appGold text-xl font-extrabold">
          <tr>
            <th>{{ dateLabel }}</th>
            <th>{{ parahsa }}</th>
            <th>{{ amount }}</th>
            <th>{{ paid }}</th>
            <th>{{ left }}</th>
            <th>{{ desc }}</th>
            <th>{{ invoice }}</th>
          </tr>
        </thead>
        <tbody class="text-appText">
          <tr
            *ngFor="let order of (userDetailes$ | async)?.orders"
            class="hover:bg-gray-300"
          >
            <td>{{ order.createdAt | date }}</td>
            <td>{{ order.parasha }}</td>
            <td>{{ order.price | currency : "ILS" }}</td>
            <td>{{ order.pricePaid | currency : "ILS" }}</td>
            <td>{{ order.price - order.pricePaid | currency : "ILS" }}</td>
            <td>{{ order.name || "N/A" }}</td>
            <td>{{ order.orderInvoice || "N/A" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
