<section class="overallTable">
  <app-header [text]="header"></app-header>

  <div class="overflow-x-auto">
    <table class="table table-xs md:table-md md:text-lg bg-appBG">
      <!-- head -->
      <thead class="bg-appBlue text-appGold lg:text-xl font-extrabold">
        <tr>
          <th>{{ fullName }}</th>
          <th>{{ nedarim }}</th>
          <th>{{ commits }}</th>
          <th>{{ total }}</th>
        </tr>
      </thead>
      <tbody class="text-appText">
        <tr
          *ngFor="let user of usersList$ | async"
          class="cursor-pointer hover:bg-gray-300"
          [routerLink]="user._id"
        >
          <td class="font-semibold">
            {{ user.firstName }} {{ user.lastName }}
          </td>
          <td>
            {{
              user.orders && user.orders[0] ? user.orders[0].parasha : "לא קיים"
            }}
          </td>
          <td>
            {{
              user.orders && user.orders[0]
                ? user.orders[0].pricePaid > user.orders[0].price
                  ? "לא קיים"
                  : (user.orders[0].price - user.orders[0].pricePaid
                    | currency : "ILS")
                : "לא קיים"
            }}
          </td>
          <td>{{ user.balance | currency : "ILS" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
