<nav class="w-full">
  <section
    [ngClass]="{ fixed: scrolled, relative: !scrolled }"
    class="nav w-full p-2 flex justify-between items-center"
  >
    <button class="flex items-center" (click)="goBack()">
      <span class="material-symbols-outlined mx-1"> arrow_forward </span>
      חזרה
    </button>
    <button class="text-appRed flex items-center" (click)="onLogout()">
      התנתק
      <span class="material-symbols-outlined rotate-180 mx-1"> logout </span>
    </button>
  </section>
</nav>
