<section class="home w-full">
  <app-header [text]="'ברוך הבא, ' + (user?.firstName || '')"></app-header>

  <section class="actions space-y-4">
    <div class="quick ">
      <app-sub-header [text]="quickActionsHeader"></app-sub-header>
      <div
      class="btns flex flex-col md:flex-row gap-2 justify-evenly items-center w-full p-4 rounded-md"
      >
        <button
          *ngFor="let label of quickActions"
          routerLink={{label.link}}
          class="border border-gray-400 bg-appBlue rounded-lg w-full flex flex-col items-center p-4 hover:text-appBG hover:bg-appBlue transition-colors duration-75 md:w-1/3"
        >
          <i class="material-icons text-appGold">{{ label.icon }}</i>
          {{ label.txt }}
        </button>
      </div>
    </div>

    <div class="quick ">
      <app-sub-header [text]="allActionsHeader"></app-sub-header>
      <div
        class="btns flex flex-col md:flex-row gap-2 justify-evenly items-center w-full p-4 rounded-md"
      >
        <button
          *ngFor="let label of actions"
          routerLink={{label.link}}
          class="border border-gray-400 bg-appBlue rounded-lg w-full flex flex-col items-center p-4 hover:text-appBG hover:bg-appBlue transition-colors duration-75 md:w-1/3"
        >
          <i class="material-icons text-appGold">{{ label.icon }}</i>
          {{ label.txt }}
        </button>
      </div>
    </div>
  </section>
  <div class="stats"></div>
</section>
