<section
  class="addDoner my-12 p-4 
  "
>
<div class="card  w-full rounded-sm">
  <div class="card-body">
      <app-sub-header [text]="addDoner"></app-sub-header>
      <app-form-header ></app-form-header>
      <form novalidate [formGroup]="addDonerForm" (ngSubmit)="saveDoner()">
        <div class="p-4 md:p-8 flex flex-col space-y-8">
          <div class="inputWrapper flex flex-col">
            <label for="fullName">שם מלא</label>
            <input
              type="text"
              placeholder="משה משה "
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="fullName"
              name="fullName"
            />
          </div>
          <div class="inputWrapper flex flex-col">
            <label for="amountDonated">סכום </label>
            <input
              type="number"
              placeholder="300"
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="amountDonated"
              name="amountDonated"
            />
          </div>
          <div class="inputWrapper flex flex-col">
            <label for="contact">יצירת קשר </label>
            <input
              type="text"
              placeholder="050555000"
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="contact"
              name="contact"
            />
          </div>
        </div>
        <div class="action my-8 w-full md:w-2/3 mx-auto">
    
            <app-loading-button
              *ngIf="addDonerForm.valid"
              [loading]="loading"
              [alternativeText]="add"
              [disabled]="addDonerForm.invalid"
            ></app-loading-button>

        </div>
      </form>
    </div>
  </div>
</section>
