<section class="aliyot-page w-full p-4">
  <div class="noPrint w-full p-5 flex justify-center items-center">
    <button (click)="onPrint()">
      <span class="material-symbols-outlined text-7xl text-appBlue">
        print
      </span>
    </button>
  </div>
  <app-logo [print]="true" className="w-[100px]"></app-logo>
  <ng-container *ngIf="shabbatData; else loading">
    <div class="w-full grid grid-cols-3 place-items-center">
      <div class="flex flex-col items-center space-y-2">
        <label>כניסת שבת</label>
        <p class="text-center font-semibold text-2xl text-green-700">
          {{ shabbatData.shabbatStart | date : "HH:mm:ss" }}
        </p>
      </div>
      <img [src]="candelsIcon" alt="Candles Icon" class="w-12 h-12" />

      <div class="flex flex-col items-center space-y-2">
        <label>צאת שבת</label>
        <p class="text-center font-semibold text-2xl text-red-700">
          {{ shabbatData.shabbatEnd | date : "HH:mm:ss" }}
        </p>
      </div>
    </div>

    <div
      class="w-full grid grid-cols-3 py-4 gap-4 border-dashed border-b border-black"
    >
      <div
        class="w-fit flex flex-col items-center justify-end text-center"
      >
        <label
          >חזנים
          <img
            [src]="shofarIcon"
            alt="Shofar Icon"
            class="w-6 h-6 inline-flex mr-1"
        /></label>
        <p class="text-center font-semibold text-xl flex items-center">
         כהן לוי 
        </p>
      </div>

      <div class="parashaText h-fit flex flex-col items-center">
        <p class="text-nowrap">{{ shabbatData.parasha }}</p>
        <small class="w-full text-center text-xl">
          {{ shabbatData.hebrew }}
        </small>
      </div>
      <div
        class="w-fit  flex flex-col items-center gap-2 justify-end place-self-end"
      >
        <label
          >הפטרה
          <img
            [src]="haftaraIcon"
            alt="Reading book Icon"
            class="w-6 h-6 inline-flex mr-1"
        /></label>
        <p class="text-center font-semibold text-xl flex items-center">
          <span>
            {{ shabbatData.parasha.split(" ")[1] || shabbatData.parasha }}
          </span>
        </p>
      </div>
    </div>

    <div class="w-full book-and-hazan mt-4">
      <div
        class="w-full grid grid-cols-1 place-items-center align-middle gap-4 bg-gray-200 rounded-lg py-4 border-gray-300"
      >
        <div class="flex flex-col items-center justify-center space-y-2">
          <label>
            <img [src]="bookIcon" alt="Book Icon" class="w-12 h-12"
          /></label>
          <p class="text-center text-2xl tracking-widest font-bold ">
            {{ shabbatData.book }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full aliyot-table grid grid-cols-2">
      <table class="table table-striped w-fit mt-6 place-self-center">
        <thead>
          <tr class="mx-auto border-b border-gray-200">
            <th
              class="w-full text-center flex gap-2 justify-center items-center pb-0 text-2xl stamFont"
              [width]="400"
            >
              עליות
              <img [src]="talitIcon" alt="talit Icon" class="w-8 h-8 mr-2" />
            </th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="for; let item; of: shabbatData.orders">
            <tr class="border-none">
              <td
                class="text-right justify-center flex gap-2 items-center pb-0 font-bold text-lg"
              >
                <span class="text-lg"> {{ item.name }} - </span>
                <span class="font-normal text-black">
                  {{ item.userName }}
                </span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="p-8 w-full flex flex-col items-end pl-8">
        <table class="table table-striped w-fit mt-6 p-8">
          <thead>
            <tr class="mx-auto border-b border-gray-200">
              <th
                class="w-full text-center flex gap-2 justify-center items-center p-1 text-nowrap stamFont"
                [width]="400"
              >
                זמני תפילות
              </th>
            </tr>
          </thead>
          <ng-container *ngFor="for; let item; of: shabbatData.prayerTimes">
            <tbody>
              <tr class="p-1 border-none">
                <td
                  class="w-full text-left flex justify-between gap-2 text-nowrap items-center font-bold text-lg p-0"
                >
                  <span class="text-lg">
                    {{ item.name }}
                  </span>
                  <span class="font-normal text-lg text-black text-center">
                    {{ item.time }}
                  </span>
                </td>
              </tr>
            </tbody>
          </ng-container>
        </table>
        <div class="mt-8 text-red-600 font-semobold">
          <p>שחרית חול 05:30</p>
          <p>מנחה וערבית 15 דקות לפני שקיעה</p>
        </div>
      </div>
    </div>

    <div
      class="w-full p-2 flex flex-col justify-center items-center text-center text-nowrap col-span-2"
    >
      <div class="w-full flex justify-center p-2 mt-8">
        <p class="text-2xl">כולם מוזמנים לסעודה שלישית</p>
      </div>
      <small class="text-xl font-semibold tracking-wider text-green-900"
        >שבת שלום</small
      >
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="w-full flex justify-center items-center text-center">
      <p class="text-2xl font-bold text-red-800">מכין טופס עליות לשבת</p>
    </div>
  </ng-template>
</section>
