<section class="aliyot-page w-full p-4">
  <div class="noPrint w-full p-5 flex justify-center items-center">
    <button (click)="onPrint()">
      <span class="material-symbols-outlined text-7xl text-appBlue">
        print
      </span>
    </button>
  </div>
  <app-logo [print]="true"></app-logo>
  <ng-container *ngIf="shabbatData; else loading">
    <div class="w-full grid grid-cols-3 place-items-center">
      <div class="flex flex-col items-center space-y-2">
        <label>כניסת שבת</label>
        <p class="text-center font-semibold text-2xl text-black">
          {{ shabbatData.shabbatStart | date : "HH:mm:ss" }}
        </p>
      </div>
      <img [src]="candelsIcon" alt="Candles Icon" class="w-12 h-12" />

      <div class="flex flex-col items-center space-y-2">
        <label>צאת שבת</label>
        <p class="text-center font-semibold text-2xl text-black">
          {{ shabbatData.shabbatEnd | date : "HH:mm:ss" }}
        </p>
      </div>
    </div>

    <div
      class="w-full flex justify-center items-center py-4 gap-4 border-dashed border-b border-black"
    >
      <div class="parashaText h-fit flex flex-col items-center">
        <p>{{ shabbatData.parasha }}</p>
        <small class="w-full text-center text-xl">
          {{ shabbatData.hebrew }}
        </small>
      </div>
    </div>

    <div class="w-full book-and-hazan mt-4">
      <div
        class="w-full grid grid-cols-1 place-items-center align-middle gap-4 bg-gray-200 rounded-lg py-4 border-gray-300"
      >
        <div class="flex flex-col items-center justify-center space-y-2">
          <label>
            <img [src]="bookIcon" alt="Book Icon" class="w-12 h-12"
          /></label>
          <p class="text-center font-semibold text-xl">
            {{ shabbatData.book }}
          </p>
        </div>
      </div>
    </div>
    <div class="w-full aliyot-table grid grid-cols-2">
      <table class="table table-striped w-full mt-6">
        <thead>
          <tr class="border-gray-300">
            <th
              class="w-full text-center flex gap-2 justify-center items-center pb-0 text-xl"
              [width]="400"
            >
              עליות
              <img [src]="talitIcon" alt="talit Icon" class="w-4 h-4" />
            </th>
          </tr>
        </thead>
        
          <tbody>
            <ng-container *ngFor="for; let item; of: shabbatData.orders">
            <tr class="">
              <td
                class="text-center justify-center flex gap-2 items-center pb-0 font-bold text-lg"
              >
              <span class="text-lg">

                {{ item.name }} -
              </span>
                <span class="font-normal text-black">
                  {{ item.userName }}
                </span>
              </td>
            </tr>
          </ng-container>
          </tbody>
      </table>
      <div class="p-8 w-full flex flex-col items-end pl-8">
        <table class="table table-striped w-fit mt-6 p-8">
          <thead>
            <tr class="mx-auto border-b border-gray-200">
              <th
                class="w-full text-center flex gap-2 justify-center items-center p-1 text-nowrap text-xl stamFont"
                [width]="400"
              >
                זמני תפילות
              </th>
            </tr>
          </thead>
          <ng-container *ngFor="for; let item; of: shabbatData.prayerTimes">
            <tbody>
              <tr class="p-1 border-none">
                <td
                  class="w-full text-left flex justify-between gap-2 text-nowrap items-center font-bold text-lg p-0"
                >
                  <span class="text-lg">
                    {{ item.name }}
                  </span>
                  <span class="font-normal text-lg text-black text-center">
                    {{ item.time }}
                  </span>
                </td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
    </div>

    
      <div class="w-full p-2 flex flex-col justify-center items-center text-center text-nowrap col-span-2">
        <small
          class="text-lg font-semibold tracking-wider text-green-900"
          >בברכת שבת שלום</small
        >
      
        <small
          class="text-lg  font-semibold tracking-wider text-green-900"
          >ועד בית הכנסת
        </small>
        <div class="w-full flex justify-center p-2 mt-8">
          <p class="text-xl">כולם מוזמנים לסעודה שלישית</p>
        </div>
      </div>
     
      

  </ng-container>
  <ng-template #loading>
    <div class="w-full flex justify-center items-center text-center">
      <p class="text-2xl font-bold text-red-800">מכין טופס עליות לשבת</p>
    </div>
  </ng-template>
</section>
