<section class="addTransaction">
  <app-header [text]="header"></app-header>
  <div class="card w-full rounded-sm">
    <div class="card-body">
      <app-form-header></app-form-header>
      <form
        novalidate
        [formGroup]="addUserForm"
        (ngSubmit)="onSubmit()"
        class=" rounded-md"
      >
        <div class="p-4 md:p-8 flex flex-col space-y-8">
          <div class="inputWrapper flex flex-col">
            <input
              type="text"
              placeholder="אימייל"
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="email"
              name="email"
            />
          </div>
          <div class="inputWrapper flex flex-col">
            <input
              type="text"
              placeholder="סיסמה"
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="password"
              name="password"
            />
          </div>
          <div class="inputWrapper flex flex-col">
            <input
              type="text"
              placeholder="שם פרטי"
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="firstName"
              name="firstName"
            />
          </div>
          <div class="inputWrapper flex flex-col">
            <input
              type="text"
              placeholder="שם משפחה"
              class="grow bg-white text-appText rounded-md p-2 border border-appGrey"
              formControlName="lastName"
              name="lastName"
            />
          </div>
          <div class="inputWrapper flex flex-col w-full justify-start  p-2">
           <div class="w-full flex">
            <input
            type="checkbox"
            formControlName="hasAccess"
            name="hasAccess"
          />
          <label class="cursor-pointer text-black mx-2">
            {{ hasAceessLabel }}
          </label>
           </div>
            <p class="text-sm text-appGrey">סמן במידה ומשתמש הינו חבר ועד</p>
          </div>
        </div>
        <div class="action my-8 w-full md:w-2/3 mx-auto">
          <app-loading-button
            *ngIf="addUserForm.valid"
            [loading]="loading"
            [alternativeText]="'הוסף משתמש'"
            [disabled]="addUserForm.invalid"
          ></app-loading-button>
        </div>
      </form>
    </div>
  </div>
</section>
