<section class="transaction">
  <app-header [text]="header"></app-header>
  <div class="w-full p-4 flex flex-col space-y-4 bg-white rounded-lg">
    <ng-container>
      <div>
        <label>{{dateLabel}} </label>
        <p>{{ transaction.createdAt | date : "shortDate" }}</p>
      </div>
      <div>
        <label>{{actionTypeLabel}}  </label>
        <p>{{ transaction.actionType === 1 ? "הכנסה" : "הוצאה" }}</p>
      </div>
      <div>
        <label>{{amountLabel}} </label>
        <p>{{ transaction.amountPaid | currency : "ILS" }}</p>
      </div>
      <div>
        <label>{{paymentTypeLabel}} </label>
        <p>{{ transaction.paymentType }}</p>
      </div>
      <div>
        <label>{{paidToLabel}} </label>
        <p>{{ transaction.paidTo }}</p>
      </div>
      <div *ngIf="transaction.checkNo">
        <label>{{chekNolabel}} </label>
        <p>{{ transaction.checkNo }}</p>
      </div>
    </ng-container>
    <div class="action w-full p-2 flex justify-end gap-4 items-center">
      <app-button-with-icon [text]="'ערוך'" icon="edit"></app-button-with-icon>
    <app-delete-button-with-icon [action]="onDelete.bind(this)"></app-delete-button-with-icon>
    </div>
  </div>
</section>
